<a href="https://colab.research.google.com/github/SHADAMAKINIKHITHA/Myfirstproject/blob/master/Assignment2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
print("Caliculating Area of Triangle:")
a=int(input(print("Enter 1st side:")))
b=int(input(print("Enter 2nd side:")))
c=int(input(print("Enter 3rd side:")))
if(a+b>c):
  s=(a+b+c)/2
  area=(s*(s-a)*(s-b)*(s-c))**0.5
  print("Area of Triangle:",area)
else:
  print("To form a triangle sum of two sides should be greater than third side")

Caliculating Area of Triangle:
Enter 1st side:
5
Enter 2nd side:
6
Enter 3rd side:
4
Area of Triangle: 9.921567416492215

In [ ]:
string=input(print("Enter String"))
output=string.replace(' ','-')
print(output)

Enter String
hi!! how are you
hi!!-how-are-you

In [ ]:
s=input(print("Enter String"))
if s==s[ ::-1]:
   print(s,"is Pallindrome")
else:
  print(s," is not a pallindrome")

Enter String
malayalam
malayalam  is Pallindrome

In [ ]:
input_data=input(print("Enter sentence with comma as the sequence!-"))
colors=[color for color in input_data.split(",")]
print(",".join(sorted(list(set(colors)))))

Enter sentence with comma as the sequence!-
orange,white,red,cyan,green,magenta,cyan,pink,white
cyan,green,magenta,orange,pink,red,white

In [ ]:
year=int(input("Enter any Year:"))
if(year%4==0 or year%400==0 and year%100!=0):
  print(year,"is a leap year")
else:
  print(year,"is not a leap year")

Enter any Year:2016
2016 is a leap year

In [ ]:
salary=int(input(print("Enter monthly salary:")))
if(salary<=250000):
  print("TAX : NILL")
elif 250001<salary<500000:
  print("TAX : 5 percent")
  amount=(salary*5)/100
  print("Amount to be paid is:",amount)
elif 500001<salary<750000:
  print("TAX : 10 percent")
  amount=(salary*10)/100
  print("Amount to be paid is:",amount)
elif 750001<salary<1000000:
  print("TAX : 15 percent")
  amount=(salary*15)/100
  print("Amount to be paid is:",amount)
elif 1000001<salary<1250000:
  print("TAX : 20 percent")
  amount=(salary*20)/100
  print("Amount to be paid is:",amount)
elif 1250001<salary<1500000:
  print("TAX : 25 percent")
  amount=(salary*25)/100
  print("Amount to be paid is:",amount)
elif salary>1500000:
  print("TAX : 30 percent")
  amount=(salary*30)/100
  print("Amount to be paid is:",amount)

Enter monthly salary:
1100000
TAX : 20 percent
Amount to be paid is: 220000.0

In [ ]:
days=int(input(print("Enter no of days :")))
hrs=int(input(print("Enter no of hours :")))
mins=int(input(print("Enter no of minutes :")))
secs=int(input(print("Enter no of seconds :")))
ds=days*86400
hs=hrs*3600
ms=mins*60
ss=secs*1
total_sec=ds+hs+ms+secs
print("total no of seconds :",total_sec)

Enter no of days :
1
Enter no of hours :
2
Enter no of minutes :
26
Enter no of seconds :
45
total no of seconds : 95205

In [ ]:
def Sorted_list(a,b,c):
  max1=max(a,max(b,c))
  min1=min(a,min(b,c))
  mid=(a+b+c)-(max1+min1)
  print(min1," ",mid," ",max1)

In [ ]:
Sorted_list(387,373,19)

19   373   387

In [16]:
List=[45,3,2,89,72,1,10,7]
product=1
for i in range(0,len(List),1):
  product=product*List[i]
print(product)

121111200

In [23]:
Num_list =  [5, 6,8 ,34,89,1] 
Out_list=[]
for i in range(0,len(Num_list)-1,1):
  x=Num_list[i]+Num_list[i+1]
  Out_list.append(x)
print(Out_list)

[11, 14, 42, 123, 90]

In [37]:
Num_tuple =  (5, 6,8 ,3,9,1) 
List2=list(Num_tuple)
print(List2)
List1=[]
x=List2[0]
List1.append(List2[0])
for i in range(0,len(List2)-1,1):
  x=x*List2[i+1]
  List1.append(x)
print(List1)

[5, 6, 8, 3, 9, 1]
[5, 30, 240, 720, 6480, 6480]

In [40]:
number=input(print("Enter Number :"))
Output_List=list(number)
print(Output_List)

Enter Number :
24645
['2', '4', '6', '4', '5']

In [44]:
def numbers(list): 
    l = [str(i) for i in list] 
    num= int("".join(l)) 
    return(num)

In [48]:
List_in=[11, 33, 50]
print(convert(List_in))

113350

In [70]:
def SubString(string,sub_string):
  if string.count(sub_string)>0:
    print("1")
  else:
    print("0")

In [72]:
SubString('101001','10')
SubString('10101110','00')

1
0

In [ ]:
class Solution(object):
   def longestPalindrome(s):
      dp = [[False for i in range(len(s))] for i in range(len(s))]
      for i in range(len(s)):
         dp[i][i] = True
      max_length = 1
      start = 0
      for l in range(2,len(s)+1):
         for i in range(len(s)-l+1):
            end = i+l
            if l==2:
               if s[i] == s[end-1]:
                  dp[i][end-1]=True
                  max_length = l
                  start = i
            else:
               if s[i] == s[end-1] and dp[i+1][end-2]:
                  dp[i][end-1]=True
                  max_length = l
                  start = i
      return s[start:start+max_length]

In [15]:
t=int(input(print("No of testcases:")))
i=0
while i<t:
  a=int(input(print("Enter aliters of Water:")))
  b=int(input(print("Enter bliters of Water:")))
  c=int(input(print("Enter cliters of Water:")))
  if a<c and b<c :
    print("-1")
  elif a==c or b==c:
    print("1")
  else:
    if a>b:
      b=0
      c=a-b
      if c==a:
        print("2")
      else:
        print("3")
  i=i+1

No of testcases:
2
Enter aliters of Water:
5
Enter bliters of Water:
2
Enter cliters of Water:
3
2
Enter aliters of Water:
2
Enter bliters of Water:
3
Enter cliters of Water:
5
-1